<div class="home-hero">
    <h1>Welcome to TrendFriend</h1>
            <h3>Search. Track. Win.</h3>
<div id="signUpLoginFormsContainer">
    
    <!-- BUTTONS -->
    <div id="optionsButton">
        <div class="loginButton" id="signInOption">SIGN IN</div>
        <div class="loginButton selected" id="signUpOption">SIGN UP</div>
    </div>
    <p id="credentialValidator" class="alert" style="display: none;"> <span id="alertText"></span> </p>

    <!-- SIGN IN -->
    <!--<div class="loginContainer" id="signInFormContainer">-->
        <div  class="loginContainer" id="signInForm" style="display: none;" >
            <br>
            <br>
            <div>
                <input type="text" id="signInUsername" name="username" placeholder="Username"/>
            </div>
            <div>
                <input type="password" id="signInPassword" name="password" placeholder="Password"/>
            </div>
            <br>
            <div class="submit" >
                <button class="submitButton" id="signInButton">Log in</button>
                <!--<input type="submit" value="Log In"/>-->
            </div> 
        </div>
    <!--</div>-->

    <!-- SIGN UP -->
    <!--<div class="loginContainer" id="signUpFormContainer">-->
        <div  class="loginContainer" id="signUpForm">
            <br>
            <br>
            <div>
                <input type="text" id="signUpUsername" name="username" placeholder="Username"/>
            </div>
            <div>
                <input id="signUpPassword" type="password" name="password" placeholder="Password"/>
            </div>
            <div>
                <input id="signUpRetypepassword" type="password" name="retypepassword" placeholder="Re-Type Password"/>
            </div>
            <br>
            <div class="submit" >
                <button class="submitButton" id="signUpButton">Sign Up</button>
                <!--<input type="submit" value="Sign Up"/>-->
            </div>
        </div>
    <!--</div>-->
</div>
</div>