<div class="home-hero">
    <h1>Explore</h1>
    <br/>
    <div style="opacity: .9;">
        <div class="control-group">
            <label for="name" class="control-label">Search for the stock you are interested in by company ticker symbol. Then choose a start date.</label>
            <div class="controls">
                <input type="text" id="companySymbolOrName" name="companySymbolOrName" value="" placeholder="Ticker Symbol" class="centerInput"/>
                <button id="startDate">Choose Start Date</button>
                <br/>
                <br/>
                <div id="datepicker"></div>
                <button id="search" class="submitButton">SEARCH</button>
                <span class="help-inline"></span>
            </div>
        </div>
    </div>
</div>
